<?xml version="1.0" encoding="UTF-8"?>


<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /Users/yzhao/Desktop
        </param-value>
    </context-param>

    <!--HelloWorld package-->
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.yizhao.HelloWorld.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <!--FormData package-->
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>com.yizhao.FormData.HelloForm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>

    <!--ClientHTTPRequest package-->
    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>com.yizhao.ClientHTTPRequest.DisplayHeader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/DisplayHeader</url-pattern>
    </servlet-mapping>

    <!--ServerHTTPResponse package-->
    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>com.yizhao.ServerHTTPResponse.Refresh</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/Refresh</url-pattern>
    </servlet-mapping>

    <!--WritingFilters package-->
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.yizhao.WritingFilters.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--HttpStatusCodes package-->
    <servlet>
        <servlet-name>ShowError</servlet-name>
        <servlet-class>com.yizhao.HttpStatusCodes.ShowError</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowError</servlet-name>
        <url-pattern>/ShowError</url-pattern>
    </servlet-mapping>


    <!--CookiesHandling package-->
    <servlet>
        <servlet-name>HelloFormWithCookie</servlet-name>
        <servlet-class>com.yizhao.CookiesHandling.HelloFormWithCookie</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloFormWithCookie</servlet-name>
        <url-pattern>/HelloFormWithCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>com.yizhao.CookiesHandling.ReadCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/ReadCookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>com.yizhao.CookiesHandling.DeleteCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/DeleteCookies</url-pattern>
    </servlet-mapping>

    <!--SessionTracking package-->
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>com.yizhao.SessionTracking.SessionTrack</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <!--DatabaseAccess package-->
    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>com.yizhao.DatabaseAccess.DatabaseAccess</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/DatabaseAccess</url-pattern>
    </servlet-mapping>

    <!--FileUploading package-->
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.yizhao.FileUploading.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <!--HandlingDate package-->
    <servlet>
        <servlet-name>CurrentDateNotUsingSimpleDate</servlet-name>
        <servlet-class>com.yizhao.HandlingDate.CurrentDateNotUsingSimpleDate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrentDateNotUsingSimpleDate</servlet-name>
        <url-pattern>/CurrentDateNotUsingSimpleDate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurrentDateUsingSimpleDate</servlet-name>
        <servlet-class>com.yizhao.HandlingDate.CurrentDateUsingSimpleDate</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrentDateUsingSimpleDate</servlet-name>
        <url-pattern>/CurrentDateUsingSimpleDate</url-pattern>
    </servlet-mapping>

    <!--PageRedirection package-->
    <servlet>
        <servlet-name>PageRedirect</servlet-name>
        <servlet-class>com.yizhao.PageRedirection.PageRedirect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageRedirect</servlet-name>
        <url-pattern>/PageRedirect</url-pattern>
    </servlet-mapping>

    <!--HitsCounter package-->
    <servlet>
        <servlet-name>PageHitCounter</servlet-name>
        <servlet-class>com.yizhao.HitsCounter.PageHitCounter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageHitCounter</servlet-name>
        <url-pattern>/PageHitCounter</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SiteHitCounter</filter-name>
        <filter-class>com.yizhao.HitsCounter.SiteHitCounter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SiteHitCounter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--SendingEmail package-->
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>com.yizhao.SendingEmail.SendEmail</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>

</web-app>
